WcfService1/Connected Services/ComplexService/Service11.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:52157/Service1.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/System.Numerics" />
  <xs:element name="Add">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="valueReal1" type="xs:double" />
        <xs:element minOccurs="0" name="valueImaginary1" type="xs:double" />
        <xs:element minOccurs="0" name="valueReal2" type="xs:double" />
        <xs:element minOccurs="0" name="valueImaginary2" type="xs:double" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/System.Numerics" minOccurs="0" name="AddResult" type="q1:Complex" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Divide">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="valueReal1" type="xs:double" />
        <xs:element minOccurs="0" name="valueImaginary1" type="xs:double" />
        <xs:element minOccurs="0" name="valueReal2" type="xs:double" />
        <xs:element minOccurs="0" name="valueImaginary2" type="xs:double" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DivideResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/System.Numerics" minOccurs="0" name="DivideResult" type="q2:Complex" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Multiply">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="valueReal1" type="xs:double" />
        <xs:element minOccurs="0" name="valueImaginary1" type="xs:double" />
        <xs:element minOccurs="0" name="valueReal2" type="xs:double" />
        <xs:element minOccurs="0" name="valueImaginary2" type="xs:double" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="MultiplyResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/System.Numerics" minOccurs="0" name="MultiplyResult" type="q3:Complex" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Subtract">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="valueReal1" type="xs:double" />
        <xs:element minOccurs="0" name="valueImaginary1" type="xs:double" />
        <xs:element minOccurs="0" name="valueReal2" type="xs:double" />
        <xs:element minOccurs="0" name="valueImaginary2" type="xs:double" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SubtractResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/System.Numerics" minOccurs="0" name="SubtractResult" type="q4:Complex" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>